@import "variables"
@import "mixins"

.excel-table
  position: absolute
  left: 0
  right: 0
  top: $header-height + $formula-height + $toolbar-height
  overflow-x: auto
  padding-bottom: 2px
  &-row
    display: flex
    flex-direction: row
    min-height: 20px
    height: $row-height
    &__info
      position: relative
      display: flex
      justify-content: center
      align-items: center
      min-width: $info-cell-width
      height: 100%
      border: 1px solid $border-color
      background: #f8f9fa
      border-top: none
    &__resize
      position: absolute
      right: 0
      left: 0
      bottom: 0
      height: 3px
      background: green
      opacity: 0
      z-index: 1000
      &:hover
        cursor: row-resize
        opacity: 1!important
  &-row_data
    display: flex
    &__column
      display: flex
      justify-content: center
      align-items: center
      min-width: 40px
      width: $cell-width
      border: 1px solid $border-color
      height: 100%
      background: #f8f9fa
      border-top: none
      border-left: none
      position: relative
    &__col_resize
      position: absolute
      top: 0
      bottom: 0
      right: 0
      width: 3px
      opacity: 0
      background: green
      z-index: 1000
      &:hover
        opacity: 1!important
        cursor: col-resize
    &__cell
      min-width: 40px
      padding: 5px
      width: $cell-width
      height: 100%
      border: 1px solid #e2e3e3
      border-top: none
      border-left: none
      white-space: nowrap
      outline: none
      &.selected
        border: none
        outline: 2px solid #3c74ff
        z-index: 2

